$primary: #0079bf;
$primary-low: #5067c5;
$primary-high: #172b4d;
$decor: #61bd4f;
$decor-low: #6d8ea2;
$secondary: #42548e;
$secondary-low: #6b668c;
$tertiary: #ebecf0;
$tertiary-high: #959da1;
$tertiary-low: #333;
